@use "sass:map";

$colors: (
        page-background: #E4E4E4,
        button-large: rgba(0, 0, 0, 0.05),
        text: #444444,
        logo-background: #FC4887,
        blue-button-border: #1691C3,
        navigation-text:#696969,
        box-background: #fff
)