@use "sass:math";
//fonts
$openSans-font: 'Open Sans', sans-serif;
$oleoScript-font: 'Oleo Script', cursive;
//resolution
$desktop:1024.1px;
$tablet-max: 1024px;
$tablet-min: 769.1px;
$mobile: 769px;
//grid
$columns :12;
$column-base-width: math.div(100%,$columns);
@for $i from 1 through $columns {
  .col-#{$i} {
    width: $column-base-width * $i;
  }
}