@use "sass:math";
//fonts
$openSans-font: 'Open Sans', sans-serif;
$oleoScript-font: 'Oleo Script', cursive;
//resolution
$desktop:"(min-width:1024px)";
$tablet-max: 1023px;
$tablet-min: 769px;
$mobile: 768px;
//grid
$columns :12;
$column-base-width: math.div(100%,$columns);
@for $i from 1 through $columns {
  .col-#{$i} {
    width: $column-base-width * $i;
  }
}