@media (min-width: 768px) {
  .menu-icon {
    display: none;
    .hamburger-menu {
      display: none;
    }
    .navicon {
      display: none;
    }
  }
}

.hamburger-menu {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.menu-icon {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.navicon {
  height: 60px;
  flex-shrink: 0;
  flex-basis: 60px;
  border: 10px solid blue;
  cursor: pointer;
}