@use "sass:map";
@use "sass:color";

.nav-button {
  display: none;
  @include mobile {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  @include tablet {
    display: none;
  }
}
.nav-button--icon {
  @include mobile {
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    position: absolute;
    color: map.get($colors, bottom-footer);
    background-color: map.get($colors,box-background);
    border-radius: 0.375em;
    opacity: 0.5;
    &:hover {
      background-color: map.get($colors,bottom-footer);
      color: map.get($colors, box-background);
      transition: 0.5s;
    }
  }
  @include tablet {
    display: none;
  }
}

