@use "sass:map";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.125em 0 2.75em;
  @include mobile {
    display: flex;
    justify-content: center;
  }
  .navigation {
    @include mobile {
      display: none;
    }
  }
}
.nav-list {
  display: flex;
}
.nav-elements {
  padding-left: 1.25em;

  &:first-of-type > a {
    color: white;
    background-color: map.get($colors, text);
  }
  a {
    font-family: $openSans-font;
    color: map.get($colors, navigation-text);
    padding: 0.40625em 0.8125em;
    border-radius: 0.3125em;
    font-weight: 800;
    cursor: pointer;
    @include tablet {
      font-size: 0.85em;
      padding: 0.46875em 1.031em;
    }
  &:not(.nav-elements:first-of-type > a):hover {
    background-color: white;
    transition: 0.5s;
  }
  }
}
