@use "sass:map";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 66px 44px;
  position: relative;
}
.nav-list {
  display: flex;
}
.nav-elements {
  padding-left: 20px;

  &:first-of-type > a {
    color: white;
    background-color: map.get($colors, text);
  }
  a {
    font-family: $openSans-font;
    color: map.get($colors, navigation-text);
    padding: 6.5px 13px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
  &:not(.nav-elements:first-of-type > a):hover {
    background-color: white;
    transition: 0.5s;
  }
  }
}
