@use "sass:map";
@use "sass:math";
.full-container {
  background-color: map.get($colors, box-background);
  font-family: $openSans-font;
  padding-bottom: 5em;
  box-shadow: 0 0.1875em 0 0 rgb(0 0 0 / 5%);
  @include tablet {
    padding-bottom: 4.5em;
  }
  @include small-tablet {
    padding-bottom: 4em;
  }
  @include mobile {
    padding-bottom: 2.5em;
  }
}
.third-box > .row {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
.col-6 {
  padding: 0.625em 0 0 0.625em;
  @include mobile {
    padding: 0.3125em 0.3125em;
  }
  @include small-tablet {
    padding: 0.3125em 0.3125em;
  }
}
.left-grid-image {
  width: 100%;
  border-radius: 0.5em;
}
.left-column {
  width: 100%;
  h3 {
    @extend %h3-style;
    margin-bottom: 1em;
    padding-left: 0.44642857em;
    @include tablet {
      font-size: 1.25em;
    }
    @include small-tablet {
      font-size: 1.25em;
    }
    @include mobile {
      font-size: 1.125em;
    }
  }
  .left-grid {
    padding-bottom: 3.75em;
    @include small-tablet {
      padding-bottom: 3em;
    }
  }
}
.column-col--left {
  padding: 5em 0 0 0;
  @include tablet {
    padding: 3.125em 0 0 0;
  }
  @include small-tablet {
    padding: 3.125em 0 0 0;
  }
  @include mobile {
    width: 100%;
    padding: 2.5em 0 0 0;
  }
}
.column-col--right {
  padding: 5em 0 0 5em;
  @include tablet {
    padding: 3.125em 0 0 3.125em;
  }
  @include small-tablet {
    padding: 3.125em 0 0 3.125em;
  }
  @include mobile {
    padding: 2.5em 0 2.75em 0.5em;
    width: 100%;
    &::after {
      content: "";
      border-bottom: 1px solid map.get($colors, page-background);
      padding-right: 100%;
      padding-bottom: 2.5em;
    }
  }
}
.right-column {
  h2 {
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 1.1em;
    color: map.get($colors, text);
    @include tablet {
      font-size: 2.1em;
    }
    @include small-tablet {
      font-size: 1.8em;
    }
    @include mobile {
      font-size: 1.125em;
    }
  }
  p {
    font-size: 1em;
    line-height: 2em;
    color: map.get($colors, navigation-text);
    font-weight: 300;
    margin-bottom: 2em;
    @include tablet {
      font-size: 0.9em;
    }
    @include small-tablet {
      font-size: 0.85em;
    }
    @include mobile {
      font-size: 0.9em;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.blue-btn {
  @extend %blue-button;
  font-size: 1.4em;
  padding: 0.71428571em 1.428571em;
  font-weight: 800;
  width: 65%;
  @include tablet {
    font-size: 1.25em;
  }
  @include small-tablet {
    font-size: 1.25em;
    padding: 0.75em 1em;
  }
  @include mobile {
    font-size: 1.125em;
    width: 100%;
    padding: 0.75em 1em;
  }
}
.icon-more {
  color: map.get($colors,box-background);
  margin-left: 0.446428571em;
  @include mobile {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &::before {
  content: "\f15c";
  font-family: 'Font Awesome 5 Free';
  margin-right: 0.7em;
  }
}
.icon-continue {
  color: map.get($colors,box-background);
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &::before {
    content: "\f0a9";
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.7em;
  }
}